@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
}

body {
    background-color: red;
    -webkit-font-smoothing: antialiased !important;
}

body, input, button {
    font: 16px 'Roboto', Arial, Helvetica, sans-serif;
    color: #fff;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }

    &:enabled:hover {
        filter: brightness(90%);
    }
}